{% extends 'temp/custemer_home.html' %}
{% block base %}
<div class="container">
    <table class="table table-bordered">
	<h1 align="center">PRODUCT</h1>
	<tr>
	<td>product</td>
	<td>image</td>
	<td>price</td>
        <td>specification</td>
        <td>status</td>
    </tr>
    {%for i in details%}
        <tr><td>{{ i.product }}</td>
       <td> <img src="/static/{{ i.image }}"></td>
		<td>{{ i.price }}</td>
         <td>{{ i.specifications }}</td>
            <td>{{ i.status }}</td>
        </tr>
    {%endfor  %}
</table>
</div>
{% endblock %}